#!/usr/bin/env zsh

{{ include (joinPath .chezmoi.homeDir ".local/share/shell/init.zsh") }}

{{ $sheldon := lookPath (joinPath .chezmoi.homeDir ".local" "share" "aquaproj-aqua" "bin" "sheldon") -}}
{{ if $sheldon -}}
# Source sheldon plugins
{{   output $sheldon "source" | trim }}
{{- end }}
