#!/usr/bin/env sh
set -eufo pipefail

{{ template "universal/scripts-library" . }}

log_task "[macos] Install Homebrew"

if command -v brew >/dev/null 2>&1; then
  log_yellow "Homebrew already installed"
  exit 0
fi

c bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

log_green "✅  Setup Homebrew ✨ 🌟 ✨"
