#!/usr/bin/env bash

{{ template "darwin/load-brew" . }}

# {{ includeTemplate "universal/next-update" . }}

brew update
brew bundle --verbose --no-lock --file=/dev/stdin <<EOF
{{ includeTemplate "darwin/brewfile" . }}
EOF

brew upgrade
brew upgrade --cask --greedy
brew cleanup
