#!/usr/bin/env bash
set -eufo pipefail

{{ template "darwin/load-brew" . }}
{{ template "universal/scripts-library" . }}

# {{ includeTemplate "universal/next-update" . }}

log_task "[macos] Install packages"

c brew update
c brew bundle --verbose --no-lock --file=/dev/stdin <<EOF
{{ includeTemplate "darwin/brewfile" . }}
EOF

c brew upgrade
c brew upgrade --cask --greedy
c brew cleanup

log_green "✅  Setup packages ✨ 🌟 ✨"
