---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
  - type: standard
    ref: v3.105.1 # renovate: depName=aquaproj/aqua-registry

packages:
{{- if not (or .is_wsl .is_windows) }}
  - name: abiosoft/colima@v0.5.0
{{- end }}
  - name: argoproj/argo-cd@v2.5.5
  - name: aristocratos/btop@v1.2.13
  - name: bitwarden/clients@cli-v2022.10.0
  - name: BurntSushi/ripgrep@13.0.0
  - name: charmbracelet/glow@v1.4.1
  - name: charmbracelet/gum@v0.8.0
  - name: charmbracelet/vhs@v0.2.0
  - name: ClementTsang/bottom@0.6.8
  - name: cli/cli@v2.20.2
  - name: dagger/dagger@v0.3.7
  - name: dandavison/delta@0.15.1
  - name: datreeio/datree@1.8.8
  - name: derailed/k9s@v0.26.7
  - name: direnv/direnv@v2.32.2
  - name: dylanaraps/neofetch@7.1.0
  - name: elkowar/pipr@v0.0.16
  - name: FiloSottile/age@v1.0.0
  - name: fluxcd/flux2@v0.37.0
  - name: fsaintjacques/semver-tool@3.4.0
  - name: genuinetools/img@v0.5.11
  - name: genuinetools/reg@v0.16.1
  - name: git-chglog/git-chglog@v0.15.1
  - name: git-lfs/git-lfs@v3.3.0
  - name: git-town/git-town@v7.8.0
  - name: GoogleContainerTools/skaffold@v2.0.3
  - name: gopasspw/gopass@v1.15.2
  - name: go-jira/jira@v1.0.27
  - name: harness/drone-cli@v1.6.2
  - name: helm/helm@v3.10.3
  - name: helmfile/helmfile@v0.149.0
  - name: jesseduffield/lazygit@v0.35
  - name: junegunn/fzf@0.35.1
  - name: junegunn/fzf/fzf-tmux@0.35.1
  - name: knqyf263/pet@v0.4.0
  - name: kubernetes/kubectl@v1.26.0
  - name: kubernetes-sigs/krew@v0.4.3
  - name: maaslalani/slides@v0.9.0
  - name: mozilla/sops@v3.7.3
  - name: muesli/duf@v0.8.1
  - name: neovim/neovim@v0.8.1
  - name: norwoodj/helm-docs@v1.11.0
  - name: ogham/exa@v0.10.1
  - name: ogham/dog@v0.1.0
  - name: omrikiei/ktunnel@v1.4.8
  - name: rs/curlie@v1.6.9
  - name: sbstp/kubie@v0.19.1
  - name: Schniz/fnm@v1.33.1
  - name: sharkdp/bat@v0.22.1
  - name: sharkdp/fd@v8.6.0
  - name: starship/starship@v1.12.0
  - name: stern/stern@v1.22.0
  - name: telepresenceio/telepresence@v2.9.5
  - name: twpayne/chezmoi@v2.27.3
  - name: txn2/kubefwd@1.22.4
  - name: wagoodman/dive@v0.10.0
  - name: woodpecker-ci/woodpecker/woodpecker-cli@v0.15.5
  - name: wtfutil/wtf@v0.42.0
  - name: zricethezav/gitleaks@v8.15.2
