---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
  - type: standard
    ref: v3.61.0 # renovate: depName=aquaproj/aqua-registry

packages:
  - name: muesli/duf@v0.8.1
  - name: ogham/dog@v0.1.0
  - name: dagger/dagger@v0.2.35
