{{- $is_linux := false -}}
{{- $is_mac := false -}}
{{- $is_unix := false -}}
{{- $is_windows := false -}}
{{- $is_apple_silicon := false -}}

{{- if eq .chezmoi.os "linux" -}}
{{-   $is_linux = true -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{-   $is_mac = true -}}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $is_apple_silicon = true -}}
{{-   end -}}
{{- end -}}

{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
{{-   $is_unix = true -}}
{{- end -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $is_windows = true -}}
{{- end -}}

{{- $workconf := false -}}

{{- if (env "WORKCONF") -}}
{{- $workconf = true -}}
{{- end -}}

{{- $is_wsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}

{{- $name := "Lars Martin" -}}
{{- $email := "lars.martin@smb-tec.com" -}}
{{- $gpg_keyid := "2D29A054A1A10BEC" -}}
{{- $github_user := "CrystalMethod" -}}
{{- $gitlab_user := "CrystalMethod" -}}

sourceDir: {{ .chezmoi.sourceDir }}

diff:
  exclude:
    - scripts
  format: git

interpreters:
  sh:
    command: bash

data:
  is_apple_silicon: {{ $is_apple_silicon }}
  is_linux: {{ $is_linux }}
  is_mac: {{ $is_mac }}
  is_unix: {{ $is_unix }}
  is_windows: {{ $is_windows }}
  is_wsl: {{ $is_wsl }}

  email: {{ $email }}
  name: {{ $name }}
  gpg_keyid: {{ $gpg_keyid }}
  github_user: {{ $github_user }}
  gitlab_user: {{ $gitlab_user }}
  bitwarden:
    github: a0a82c51-d93b-4bce-98f4-744271ebcba1
    codestats: bc387016-c599-436b-aa2d-dd242ae313fe
    deepl: c0a2f0b3-d495-4fc9-b4fe-989e76163ac4
    main:
      id: b9a313d6-534d-4d6c-9afc-b7cfe61ee8f6
    work:
      id: 62cd6294-d1b3-440e-bcf5-91badbbc438e
      machine: 16c0db27-43c2-442f-b9ab-d1433a63713d
    work2:
      id: 01d7c1b1-9b26-478c-b214-4caf569d0af6
      machine: 8c182706-b5c5-4212-ab63-7c11e95b1965
