#!/usr/bin/env bash

# A little hack as 'BW_SESSION' must be set before running
# chezmoi, so we write the new BW_SESSION back to this file
export BW_SESSION={{ env "BW_SESSION" }}

export CODESTATS_API_KEY={{ (bitwardenFields "item" .bitwarden.codestats).api_key.value }}

export DEEPL_TOKEN={{ (bitwardenFields "item" .bitwarden.deepl).api_key.value }}
