#!/usr/bin/env bash
set -eufo pipefail

source $HOME/.local/share/shell/env.zsh

# {{ includeTemplate "universal/next-update" . }}

{{- $compDir:= joinPath .chezmoi.homeDir ".config/zsh/completions" -}}

if [ "$(command -v bw)" ]; then
  echo "Installing Bitwarden CLI completions..."
  bw completion --shell zsh > "{{ $compDir }}/_bw"
fi

if [ "$(command -v datree)" ]; then
  echo "Installing datree completions..."
  datree completion zsh > "{{ $compDir }}/_datree"
fi

if [ "$(command -v kubectl)" ]; then
  echo "Installing kubectl completions..."
  kubectl completion zsh | sed 's/kubectl/kubecolor/g' > "{{ $compDir }}/_kubecolor"
fi

if [ "$(command -v stern)" ]; then
  echo "Installing stern completions..."
  stern --completion zsh > "{{ $compDir }}/_stern"
fi
