{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $interactive := stdinIsATTY                                                        -}}

{{- $username := ""                                                                    -}}
{{- if hasKey . "username"                                                             -}}
{{-   $username = .username                                                            -}}
{{- else                                                                               -}}
{{-   $username = .chezmoi.username | printf "username [%s]" | promptString            -}}
{{-   if eq $username ""                                                               -}}
{{-     $username = .chezmoi.username                                                  -}}
{{-   end                                                                              -}}
{{- end                                                                                -}}

{{- $email := ""                                                                       -}}
{{- if hasKey . "email"                                                                -}}
{{-   $email = .email                                                                  -}}
{{- else                                                                               -}}
{{-   $email = $username | printf "email [%s@smb-tec.com]" | promptString              -}}
{{-   if eq $email ""                                                                  -}}
{{-     $email = $username | printf "email [%s@smb-tec.com]" | promptString            -}}
{{-   end                                                                              -}}
{{- end                                                                                -}}

{{- $fullname := ""                                                                    -}}
{{- if hasKey . "fullname"                                                             -}}
{{-   $fullname = .fullname                                                            -}}
{{- else                                                                               -}}
{{-   $fullname = expandenv "full name [$CHEZMOI_FULLNAME]" | printf | promptString    -}}
{{-   if eq $fullname ""                                                               -}}
{{-     $fullname = env "CHEZMOI_FULLNAME"                                             -}}
{{-   end                                                                              -}}
{{- end                                                                                -}}

{{- $toolchains := list "docker" "java" "kubernetes" "rust"                            -}}

{{- $data := .                                                                          }}
{{- $_ := set $data "host" (default (dict) (get $data "host"))                         -}}
{{- $_ := set $data "toolchains" (default (dict) (get $data "toolchains"))             -}}

{{- $distro := dict "family" .chezmoi.os "id" (get .chezmoi.osRelease "id" | default .chezmoi.os) -}}
{{- if or (eq $distro.id "arch") (eq $distro.id "archarm")                             -}}
{{- $_ := set $distro "id" "archlinux"                                                 -}}
{{- end                                                                                -}}

{{- $toolchainsEnabled := dict                                                          }}
{{- range $toolchain := $toolchains                                                     }}
{{-   $withoutToolchains := env "WITHOUT_TOOLCHAINS"                                   -}}
{{-   $withoutToolchain := env (list "WITHOUT" (upper $toolchain) | join "_")          -}}
{{-   $withToolchain := env (list "WITH" (upper $toolchain) | join "_")                -}}
{{-   if and (or $withoutToolchains $withoutToolchain) (not $withToolchain)            -}}
{{-     writeToStdout (list "Disabled" $toolchain "toolchain.\n" | join " ")           -}}
{{-     $_ := set $toolchainsEnabled $toolchain false                                   }}
{{-   else                                                                              }}
{{-     $_ := set $toolchainsEnabled $toolchain true                                    }}
{{-   end                                                                               }}
{{- end                                                                                 }}

{{- if stdinIsATTY                                                                     -}}

{{- range $toolchain := $toolchains                                                     }}
{{-   $enabled := promptBoolOnce $data.toolchains $toolchain (list "Enable" $toolchain "toolchain" | join " ") (get $toolchainsEnabled $toolchain) -}}
{{-   if and (eq $toolchain "kubernetes") $enabled (not $toolchainsEnabled.docker)  -}}
{{-   $_ := set $toolchainsEnabled "docker" $enabled }}
{{-     writeToStdout "Enabled Docker toolchain to support Kubernetes.\n" -}}
{{-   end -}}
{{-   $_ := set $toolchainsEnabled $toolchain $enabled }}
{{- end }}
{{- writeToStdout "💡 Tip: you can re-enter your name and email with `chezmoi init --data=false`.\n" -}}

{{- else                                                                               -}}

{{-   writeToStdout "Chezmoi is running in headless environment.\n"                    -}}

{{- end                                                                                -}}

diff:
  exclude:
    - scripts
  format: git

data:
  username: {{ $username }}
  email: {{ $email }}
  fullname: {{ $fullname }}
  bitwarden:
    codestats: bc387016-c599-436b-aa2d-dd242ae313fe
    github: a0a82c51-d93b-4bce-98f4-744271ebcba1
  host:
    arch: "{{ .chezmoi.arch }}"
    distro:
      family: "{{ $distro.family }}"
      id: "{{ $distro.id }}"
  toolchains:
    {{- range $toolchain, $enabled := $toolchainsEnabled }}
      {{ $toolchain}}: {{ $enabled }}
    {{- end }}
