---
".config/bat/themes":
  type: archive
  url: https://github.com/catppuccin/bat/archive/refs/heads/main.zip
  refreshPeriod: 168h
  stripComponents: 1
  include:
    - "*/*.tmTheme"

".config/btop/themes":
  type: archive
  url: https://github.com/catppuccin/btop/archive/refs/heads/main.zip
  refreshPeriod: 168h
  stripComponents: 2
  include:
    - "*/themes/*.theme"

".config/spicetify/Themes/catppuccin":
  type: archive
  url: https://github.com/catppuccin/spicetify/archive/refs/heads/main.zip
  exact: true
  refreshPeriod: 168h
  stripComponents: 2
  include:
    - "spicetify-main/catppuccin/*"

".config/spicetify/CustomApps/marketplace":
  type: archive
  url: '{{ gitHubLatestRelease "spicetify/spicetify-marketplace" | toJson | fromJson | jq ".assets[0].browser_download_url" | first }}'
  exact: true
  stripComponents: 1
  refreshPeriod: 168h

{{- $NerdFontsRelease := gitHubLatestRelease "ryanoasis/nerd-fonts" }}
{{- $url_download := replace "releases/tag" "releases/download" $NerdFontsRelease.GetHTMLURL }}
{{- $fontPath := "" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $fontPath = ".local/share/fonts" }}
{{- else if eq .chezmoi.os "darwin" }}
{{-   $fontPath = "Library/Fonts" }}
{{- end }}
{{- range (list "VictorMono") }}
'{{- joinPath $fontPath (substr 0 1 . | lower) . -}}':
  url: '{{- $url_download -}} / {{- . -}} .zip'
  type: 'archive'
  executable: true
  refreshPeriod: '720h' # 30 days
{{- end }}
