{{- $nvim := "" -}}
{{- if eq .chezmoi.os "windows" }}
{{-   $nvim = "AppData/Local/nvim" -}}
{{- else -}}
{{-   $nvim = ".config/nvim" -}}
{{- end -}}
"{{ $nvim }}":
  type: git-repo
  url: https://github.com/AstroNvim/AstroNvim.git
  exact: true
  stripComponents: 1
  # refreshPeriod: 168h

".config/bat/themes":
  type: archive
  url: https://github.com/catppuccin/bat/archive/refs/heads/main.zip
  refreshPeriod: 168h
  stripComponents: 1
  include:
    - "*/*.tmTheme"
