.chezmoiscripts/*/**
!.chezmoiscripts/{{ .host.distro.id }}/**
!.chezmoiscripts/universal/**

{{ if eq .chezmoi.os "windows" -}}
!.config/chezmoi
!.config/git
!.config/pwsh
!.config/starship.toml
.local/share/shell/*
.config/*
bin/*
.zshenv
.zshrc
{{ else -}}
AppData/*
{{ end -}}

{{ if not .toolchains.java -}}
.sdkman/
{{ end -}}
