[tools]
{{ if .toolchains.java -}}
java = [ "temurin-21", "temurin-17" ]
maven = '3.9.5'
{{ end -}}
{{ if .toolchains.node -}}
nodejs = [ "20", "18" ]
bun = "latest"
yarn = "1.19.2" # latest release with all artifacts available
{{ end -}}
{{ if .toolchains.go -}}
golang = 'latest'
{{ end -}}
{{ if .toolchains.rust -}}
rust = [ 'nightly', 'latest' ]
{{ end -}}
