
{{- if .toolchains.node -}}
#!/usr/bin/env bash

source $HOME/.local/share/shell/env.zsh

# {{ template "universal/scripts-library" }}

# {{ includeTemplate "universal/next-update" . }}

if command -v volta &> /dev/null; then
  log_task "Installing Node.js toolchain"
  c volta install bun@latest
  c volta install node@lts
  c volta install npm@latest
  c volta install pnpm@latest
  c volta install yarn@latest
fi

log_green "✅  You are ready to Node! ✨ 🌟 ✨"

{{- end -}}
