{{- if .toolchains.kubernetes -}}
#!/usr/bin/env bash

{{ template "universal/load-aqua" . }}
{{ template "universal/scripts-library" . }}

# {{ includeTemplate "universal/next-update" . }}

helm_plugins=(
  https://github.com/databus23/helm-diff
  https://github.com/jkroepke/helm-secrets
)

log_task "Installing Helm plugins"
for plugin in "${helm_plugins[@]}"
do
    log_c "helm plugin install $plugin"
    helm plugin install $plugin 2>/dev/null || true
done
{{- end -}}
