#!/usr/bin/env bash

set -eufo pipefail

{{ template "universal/load-aqua" . }}
{{ template "universal/scripts-library" . }}

# ~/.config/mise/config.toml: {{ include (joinPath .chezmoi.homeDir ".config" "mise" "config.toml") | sha256sum }}

log_task "[all] Setup dev toolchains"

c mise trust $HOME/.config/mise/config.toml
c mise install -y

log_success "[all] Setup dev toolchains"
