{{- if .toolchains.go -}}
#!/usr/bin/env bash

source $HOME/.local/share/shell/env.zsh

# {{ template "universal/scripts-library" }}

log_task "Installing Go toolchain"

log_c "Checking latest Go version..."
# VERSION=1.21.1 # see https://go.dev/dl/
VERSION="$(curl --silent https://go.dev/VERSION?m=text | head -n 1)"
ARCH={{ .host.arch }}
OS={{ .host.distro.family }}

if [ -d "/usr/local/go" ]
then
 log_c "Removing old Go installation..."
 sudo rm -rf /usr/local/go
fi

log_c "Downloading Go $VERSION for $OS-$ARCH..."
curl -sSL https://go.dev/dl/$VERSION.$OS-$ARCH.tar.gz | sudo tar -C /usr/local -xz

log_green "✅  You are ready to Go! ✨ 🌟 ✨"

{{- end -}}
