#!/usr/bin/env bash
set -eufo pipefail

{{ template "universal/scripts-library" . }}

log_task "[all] Decrypt age key file..."

if [ ! -f "${HOME}/.config/sops/age/key.txt" ]; then
    mkdir -p "${HOME}/.config/sops/age"
    chezmoi=chezmoi
    if ! command -v chezmoi >/dev/null 2>&1; then
        chezmoi=$HOME/.local/bin/chezmoi
    fi
    c $chezmoi age decrypt --output "${HOME}/.config/sops/age/key.txt" --passphrase "{{ .chezmoi.sourceDir }}/private_dot_config/sops/age/key.txt.age"
    chmod 600 "${HOME}/.config/sops/age/key.txt"

    log_success "[all] Decrypt age key file..."
else
    log_info "Age key file already exists"
fi
