#!/usr/bin/env bash
set -eufo pipefail

source $HOME/.local/share/shell/env.zsh

# {{ template "universal/scripts-library" }}

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.16.3

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  log_task "Installing Aqua"
  curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v2.1.2/aqua-installer | bash -s -- -v $current_aqua_version
fi

{{- $files := list -}}
{{- range $path := glob (list .chezmoi.sourceDir ".chezmoitemplates/aqua/**/*.yaml.tmpl" | join "/") }}
{{- $files = concat $files (list (include $path)) -}}
{{- end }}

# aqua.yaml.tmpl hash: {{ $files | join "" | sha256sum }}
log_task "Installing tooling"
c aqua install -a
