#!/usr/bin/env bash
set -eufo pipefail

{{ template "universal/load-aqua" . }}
{{ template "universal/scripts-library" . }}

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.16.4

log_task "Installing Aqua"

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  c curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v2.2.0/aqua-installer | bash -s -- -v $current_aqua_version
else
  log_yellow "Aqua already installed"
fi

{{- $files := list -}}
{{- range $path := glob (list .chezmoi.sourceDir ".chezmoitemplates/aqua/**/*.yaml.tmpl" | join "/") }}
{{- $files = concat $files (list (include $path)) -}}
{{- end }}

# aqua.yaml.tmpl hash: {{ $files | join "" | sha256sum }}
log_task "Installing tools"
c aqua install -a

log_green "✅  Setup Aqua ✨ 🌟 ✨"
