#!/usr/bin/env bash

{{ template "universal/load-aqua" . }}
{{ template "universal/scripts-library" . }}

# bat theme hash: {{ joinPath .chezmoi.homeDir ".config/bat/themes/Catppuccin-frappe.tmTheme" | include | sha256sum }}

log_task "[all] Update bat theme cache"

if command -v bat > /dev/null 2>&1; then
  c bat cache --build
else
  log_error "bat is not installed"
fi

log_success "[all] Update bat theme cache"
