#!/bin/sh
{{- if and (eq $.chezmoi.os "linux") (eq $.package_manager "apt") -}}
{{-   $packages := list                                           -}}
{{-   $groups   := list                                           -}}
{{-   if eq $.chezmoi.os "linux"                                  -}}
{{-     $package_list := index $.package $.package_manager        -}}
{{-     range $package_list                                       -}}
{{-       if index . "group"                                      -}}
{{-         $groups = append $groups .package                     -}}
{{-       else                                                    -}}
{{-         $packages = append $packages .package                 -}}
{{-       end                                                     -}}
{{-     end                                                       -}}
{{-   end                                                          }}

####################################################################
# INSTALL APT PACKAGES
####################################################################
sudo apt-get -yq update
sudo apt-get -yqq install {{ $packages | join " " }}

{{ end                                                             }}
