#!/usr/bin/env bash

{{ template "universal/scripts-library" }}

function app_apt_repo {
  if [ ! -f /etc/apt/sources.list.d/$1.list ]; then
      log_c "Adding apt repo for $1"
      curl -fsSL "$2" | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/$1.gpg
      echo "$3" | sudo tee /etc/apt/sources.list.d/$1.list
  fi
}

log_task "[ubuntu] Add apt repos"

{{ if .toolchains.azure -}}
app_apt_repo "azure-cli" \
"https://packages.microsoft.com/keys/microsoft.asc" \
"deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/trusted.gpg.d/azure-cli.gpg]https://packages.microsoft.com/repos/azure-cli $(lsb_release -cs) main"
{{- end }}

{{ if .toolchains.docker -}}
app_apt_repo "docker" \
"https://download.docker.com/linux/ubuntu/gpg" \
"deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/trusted.gpg.d/docker.gpg] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
{{- end }}

log_success "[ubuntu] Add apt repos"
