{{- if .toolchains.docker -}}
#!/usr/bin/env bash

{{ template "universal/scripts-library" . }}

log_task "[ubuntu] Setup Docker"

c sudo usermod $USER --append --group docker

log_success "[ubuntu] Setup Docker"

{{- end -}}
