# Sheldon configuration file
#
# See https://rossmacarthur.github.io/sheldon/

shell = "zsh"

[templates]
defer = "{% for file in files %}zsh-defer source {{ `\"{{ file }}\"` }}\n{% endfor %}"
defer-more = "{% for file in files %}zsh-defer -t 0.5 source {{ `\"{{ file }}\"` }}\n{% endfor %}"

[plugins]

# Completions

[plugins.zsh-completions]
github = "zsh-users/zsh-completions"

# Sourced

[plugins.private]
local = "{{ .chezmoi.homeDir }}/.config/shell"
use = ["**/private.zsh"]

[plugins.history]
github = "ohmyzsh/ohmyzsh"
dir = "lib"
use = ["history.zsh"]

[plugins.zsh-defer]
github = "romkatv/zsh-defer"

[plugins.starship]
inline = 'eval "$(starship init zsh)"'

# Deferred

[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
use = ["{{- "{{ name }}.zsh" -}}"]
apply = ["defer"]

[plugins.rtx]
inline = 'zsh-defer eval "$(rtx activate zsh)"'

[plugins.konf]
inline = 'zsh-defer eval "$(konf-go shellwrapper zsh)"'

[plugins.zimfw-exa]
github = "zimfw/exa"
apply = ["defer"]

[plugins.forgit]
github = "wfxr/forgit"
apply = ["defer"]

[plugins.ohmyzsh-plugins]
github = "ohmyzsh/ohmyzsh"
dir = "plugins"
use = ["{fancy-ctrl-z,direnv,zoxide}/*.plugin.zsh"]
apply = ["defer"]

[plugins.fast-syntax-highlighting]
github = "zdharma-continuum/fast-syntax-highlighting"
apply = ["defer"]

[plugins.zsh-fzf-history-search]
github = "joshskidmore/zsh-fzf-history-search"
apply = ["defer"]

[plugins.codestats]
git = "https://gitlab.com/code-stats/code-stats-zsh"
use = ["codestats.plugin.zsh"]
apply = ["defer"]

[plugins.compinit]
inline = 'autoload -Uz compinit && zsh-defer compinit'
