---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
  - type: standard
    ref: v4.202.1 # renovate: depName=aquaproj/aqua-registry
  - name: local
    type: local
    path: registry.yaml

packages:
  - name: x-motemen/ghq@v1.6.1
  - name: argoproj/argo-cd@v2.11.4
{{- if (eq .chezmoi.os "darwin") -}}
  {{/* https://github.com/aristocratos/btop/releases/tag/v1.3.0 */}}
  - name: aristocratos/btop@v1.3.2
{{- else }}
  - name: aristocratos/btop@v1.3.2
{{- end }}
  - name: bitwarden/clients@cli-v2022.10.0
  - name: blacknon/hwatch@0.3.15
  - name: BurntSushi/ripgrep@14.1.0
  - name: charmbracelet/glow@v1.5.1
  - name: charmbracelet/gum@v0.14.1
  - name: charmbracelet/vhs@v0.7.2
  - name: ClementTsang/bottom@0.9.6
  - name: cli/cli@v2.52.0
  - name: crossplane/crossplane@v1.16.0
  - name: dagger/dagger@v0.11.9
  - name: dandavison/delta@0.17.0
  - name: datreeio/datree@1.9.19
  - name: derailed/k9s@v0.32.5
  - name: derailed/popeye@v0.21.3
  - name: direnv/direnv@v2.34.0
  - name: elkowar/pipr@v0.0.16
  - name: FiloSottile/age@v1.2.0
  - name: fluxcd/flux2@v2.3.0
  - name: fsaintjacques/semver-tool@3.4.0
  - name: genuinetools/img@v0.5.11
  - name: genuinetools/reg@v0.16.1
  - name: git-chglog/git-chglog@v0.15.4
  - name: git-lfs/git-lfs@v3.5.1
  - name: git-town/git-town@v14.2.3
  - name: GoogleContainerTools/container-diff@v0.17.0
  - name: GoogleContainerTools/skaffold@v2.13.0
  - name: go-jira/jira@v1.0.27
  - name: harness/drone-cli@v1.8.0
  - name: helm/helm@v3.15.3
  - name: helmfile/helmfile@v0.166.0
  - name: ivaaaan/smug@v0.3.3
  - name: jesseduffield/lazygit@v0.42.0
  - name: junegunn/fzf@v0.54.0
  - name: junegunn/fzf/fzf-tmux@v0.54.0
  - name: knqyf263/pet@v0.8.4
  - name: kubernetes/kubectl@v1.30.2
  - name: kubernetes-sigs/krew@v0.4.4
  - name: maaslalani/slides@v0.9.0
  - name: mozilla/sops@v3.9.0
  - name: muesli/duf@v0.8.1
  - name: norwoodj/helm-docs@v1.14.2
  - name: ogham/dog@v0.1.0
  - name: omrikiei/ktunnel@v1.6.1
  - name: rs/curlie@v1.7.2
  - name: sharkdp/bat@v0.24.0
  - name: sharkdp/fd@v10.1.0
  - name: spotDL/spotify-downloader@v4.2.5
  - name: starship/starship@v1.19.0
  - name: stern/stern@v1.30.0
  - name: telepresenceio/telepresence@v2.19.1
  - name: twpayne/chezmoi@v2.50.0
  - name: txn2/kubefwd@1.22.5
  - name: wagoodman/dive@v0.12.0
  - name: woodpecker-ci/woodpecker/woodpecker-cli@v2.6.0
  - name: wtfutil/wtf@v0.43.0
  - name: zricethezav/gitleaks@v8.18.4
  - name: evilmartians/lefthook@v1.7.1
  - name: owenrumney/squealer@v1.2.2
  - name: hairyhenderson/gomplate@v4.1.0
  - name: orhun/git-cliff@v2.4.0
  - name: SimonTheLeg/konf-go@v0.7.0
  - name: dbrgn/tealdeer@v1.6.1
  - name: ajeetdsouza/zoxide@v0.9.4
  - name: stedolan/jq@jq-1.6
  - name: google/go-containerregistry@v0.20.0
  - name: twistedpair/google-cloud-sdk@497.0.0
  - name: uzimaru0000/tv@v0.7.0
  - name: hidetatz/kubecolor@v0.0.25
  - name: pkgxdev/pkgx@v1.1.6
  - name: omegion/ssh-manager@v1.12.5
  - name: aquasecurity/trivy@v0.53.0
  - name: jdx/mise@v2024.7.1
  - name: Macchina-CLI/macchina@v6.1.8
  - name: go-task/task@v3.38.0
  - name: eza-community/eza@v0.18.21
  - name: joshmedeski/sesh@v1.2.0
  {{ if .toolchains.docker -}}
  - name: jesseduffield/lazydocker@v0.23.3
  - name: bcicen/ctop@v0.7.7
  {{ end -}}
  {{ if .toolchains.azure -}}
  - name: Azure/kubelogin@v0.1.4
  {{ end -}}
  - name: chenjiandongx/kubectl-images@v0.6.3
  {{ if .toolchains.node -}}
  - name: volta-cli/volta@v1.1.1
  {{ end -}}
  {{ if not .host.is_wsl -}}
  - name: abiosoft/colima@v0.6.9
  {{ end -}}
  - name: go-gitea/tea
    version: main
    registry: local
