---
# aqua - Declarative CLI Version Manager
# https://aquaproj.github.io/
registries:
  - type: standard
    ref: v4.184.0 # renovate: depName=aquaproj/aqua-registry
  - name: local
    type: local
    path: registry.yaml

packages:
  - name: argoproj/argo-cd@v2.11.2
{{- if (eq .chezmoi.os "darwin") -}}
  {{/* https://github.com/aristocratos/btop/releases/tag/v1.3.0 */}}
  - name: aristocratos/btop@v1.3.2
{{- else }}
  - name: aristocratos/btop@v1.3.2
{{- end }}
  - name: bitwarden/clients@cli-v2022.10.0
  - name: blacknon/hwatch@0.3.13
  - name: BurntSushi/ripgrep@14.1.0
  - name: charmbracelet/glow@v1.5.1
  - name: charmbracelet/gum@v0.14.0
  - name: charmbracelet/vhs@v0.7.2
  - name: ClementTsang/bottom@0.9.6
  - name: cli/cli@v2.49.2
  - name: crossplane/crossplane@v1.15.2
  - name: dagger/dagger@v0.11.4
  - name: dandavison/delta@0.17.0
  - name: datreeio/datree@1.9.19
  - name: derailed/k9s@v0.32.4
  - name: derailed/popeye@v0.21.3
  - name: direnv/direnv@v2.34.0
  - name: elkowar/pipr@v0.0.16
  - name: FiloSottile/age@v1.1.1
  - name: fluxcd/flux2@v2.2.3
  - name: fsaintjacques/semver-tool@3.4.0
  - name: genuinetools/img@v0.5.11
  - name: genuinetools/reg@v0.16.1
  - name: git-chglog/git-chglog@v0.15.4
  - name: git-lfs/git-lfs@v3.5.1
  - name: git-town/git-town@v14.2.0
  - name: GoogleContainerTools/container-diff@v0.17.0
  - name: GoogleContainerTools/skaffold@v2.11.1
  - name: go-jira/jira@v1.0.27
  - name: harness/drone-cli@v1.8.0
  - name: helm/helm@v3.14.4
  - name: helmfile/helmfile@v0.164.0
  - name: ivaaaan/smug@v0.3.3
  - name: jesseduffield/lazygit@v0.41.0
  - name: junegunn/fzf@0.52.1
  - name: junegunn/fzf/fzf-tmux@0.52.1
  - name: knqyf263/pet@v0.8.4
  - name: kubernetes/kubectl@v1.30.0
  - name: kubernetes-sigs/krew@v0.4.4
  - name: maaslalani/slides@v0.9.0
  - name: mozilla/sops@v3.8.1
  - name: muesli/duf@v0.8.1
  - name: norwoodj/helm-docs@v1.13.1
  - name: ogham/exa@v0.10.1
  - name: ogham/dog@v0.1.0
  - name: omrikiei/ktunnel@v1.6.1
  - name: rs/curlie@v1.7.2
  - name: sharkdp/bat@v0.24.0
  - name: sharkdp/fd@v10.1.0
  - name: spotDL/spotify-downloader@v4.2.5
  - name: starship/starship@v1.18.2
  - name: stern/stern@v1.29.0
  - name: telepresenceio/telepresence@v2.18.0
  - name: twpayne/chezmoi@v2.48.0
  - name: txn2/kubefwd@1.22.5
  - name: wagoodman/dive@v0.12.0
  - name: woodpecker-ci/woodpecker/woodpecker-cli@v2.4.1
  - name: wtfutil/wtf@v0.43.0
  - name: zricethezav/gitleaks@v8.18.2
  - name: evilmartians/lefthook@v1.6.10
  - name: owenrumney/squealer@v1.2.2
  - name: hairyhenderson/gomplate@v3.11.7
  - name: orhun/git-cliff@v2.2.2
  - name: SimonTheLeg/konf-go@v0.5.1
  - name: rossmacarthur/sheldon@0.7.4
  - name: dbrgn/tealdeer@v1.6.1
  - name: ajeetdsouza/zoxide@v0.9.4
  - name: stedolan/jq@jq-1.6
  - name: google/go-containerregistry@v0.19.1
  - name: twistedpair/google-cloud-sdk@474.0.0
  - name: uzimaru0000/tv@v0.7.0
  - name: hidetatz/kubecolor@v0.0.25
  - name: pkgxdev/pkgx@v1.1.6
  - name: omegion/ssh-manager@v1.11.1
  - name: aquasecurity/trivy@v0.51.1
  - name: jdx/mise@v2024.5.3
  - name: Macchina-CLI/macchina@v6.1.8
  {{ if .toolchains.docker -}}
  - name: jesseduffield/lazydocker@v0.23.1
  - name: bcicen/ctop@v0.7.7
  {{ end -}}
  {{ if .toolchains.azure -}}
  - name: Azure/kubelogin@v0.1.3
  {{ end -}}
  - name: chenjiandongx/kubectl-images@v0.6.3
  {{ if .toolchains.node -}}
  - name: volta-cli/volta@v1.1.1
  {{ end -}}
  {{ if not .host.is_wsl -}}
  - name: abiosoft/colima@v0.6.8
  {{ end -}}
  - name: go-gitea/tea
    version: main
    registry: local
