[core]
  editor = nvim
  excludesfile = ~/.config/git/ignore
  pager = delta
  whitespace = trailing-space,space-before-tab

[delta]
  navigate = true
  side-by-side = true

[user]
  name = Lars Martin
  email = lars.martin@smb-tec.com
  signingkey = ~/.ssh/id_ed25519.pub

[commit]
  gpgsign = true

[tag]
  gpgsign = true

[gpg]
  format = ssh

[alias]
  append = town append
  hack = town hack
  kill = town kill
  new-pull-request = town new-pull-request
  prepend = town prepend
  prune-branches = town prune-branches
  rename-branch = town rename-branch
  repo = town repo
  ship = town ship
  sync = town sync
  graph = log --graph --all --format='%h %s%n        (%an, %ar)%d' --abbrev-commit

[includeIf "gitdir:~/repos/work/czm/"]
  path = ~/.config/git/config-zdi
